body {
  background-color: #191918;
  color: #efefef;
}
a {
  color: #efefef;
}
a:hover {
  color: #999999;
}

.container {
  width: min(80ch, 100vw - 2rem);
  margin-inline: auto;
}

.navbar {
  display: flex;
  flex-wrap: warp;
  align-items: center;
  justify-content: space-between;

}
.navbar__button {
  background-color: transparent;
  color: #efefef;
  border-color: #efefef;
}
@media (min-width: 600px) {
  .navbar__button {
    display: none;
  }
}
@media (max-width: 599px) {
  .navbar__collapse {
    display: none;
  }
}
.navbar__collapse > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar__collapse--show {
  display: block;
  width: 100%;
}
.navbar__collapse--show > ul {
  flex-direction: column;
  padding: 0;
}

.hero {
  display: grid;
  justify-content: center;
  grid-template-areas: "stack";
}
.hero > * {
  grid-area: stack;
}
.hero h1 {
  color: #efefef;
  place-self: center;
}

.filter {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}